body {
  margin-top: 60px;
  padding-bottom: 40px;
}

body .hero-unit {
  text-align: center;
}

body .hero-unit form {
  margin: 80px;
}

body .hero-unit input.big {
  font-size: 36px;
  height: 40px;
  width: 768px;
  line-height: 40px;
  padding: 2px;
}

body .hero-unit input.gobtn {
  height: 40px;
  width: 40px;
}
