[submodule "api/Slim"]
	path = api/Slim
	url = https://github.com/codeguy/Slim.git
[submodule "js/libs/jquery-cookie"]
	path = js/libs/jquery-cookie
	url = https://github.com/carhartl/jquery-cookie.git
