<div id="new-request" class="span6">
  <h1>New Request</h1>
  <form>
    <fieldset>
      <legend>Which country would you like to learn about?</legend>
      <input class="country"
             type="text"
             data-provide="typeahead"
             placeholder="Start typing a country name..."
             autofocus>
      <input class="btn" type="submit" value="Go">
    </fieldset>
  </form>
</div>

<div id="request-preview" class="span6">
    <ul class="nav nav-tabs">
    </ul> <!-- nav-tabs -->

    <div class="tab-content">
    </div> <!-- tab-content -->
</div>

<!-- topic typeahead -->
<script id="topic-template" type="text/template">
  <div id="topic">
    <input class="topic"
           type="text"
           data-provide="typeahead"
           placeholder="What is this about?">
    <input id="topicBtn" type="submit" value="Next">
  </div> <!-- topic -->
</script>

<!-- agency tabs -->
<script id="agency-template" type="text/template">
  <div class="row-fluid">

    <div id="agency-tabs" class="span4">
      <ul class="nav nav-pills nav-stacked">
        <!-- country names here -->
      </ul>
    </div> <!-- request-countries -->

    <div id="agencies" class="span8 tab-content">
      <!-- agency names here -->
    </div> <!-- agencies -->

  </div> <!-- row-fluid -->

  <div>
    <input id="agencyBtn" type="submit" value="Next">
  </div>
</script>

<script id="question-template" type="text/template">
  <div id="question">
    <p>It's time to tell us what your important question is...<p>
    <textarea></textarea>
    <input id="qBtn" type="submit" value="Next">
  </div>
</script>

<script id="date-doctype-template" type="text/template">
  <div id="date" class="row-fluid">
    <div>
      Start Date:
      <span class="date-container start"></span>
    </div>
    <div>
      End Date:
      <span class="date-container end"></span>
    </div>
    <div  class="btn-group doctypes" data-toggle="buttons-checkbox">
    </div>
    <input id="dateBtn" type="submit" value="Compose!">
  </div> <!-- date -->
</script>

<script id="datepicker-template" type="text/template">
  <select class="month">
    <option value="" selected>Month</option>
    <option value="01">Jan</option>
    <option value="02">Feb</option>
    <option value="03">Mar</option>
    <option value="04">Apr</option>
    <option value="05">May</option>
    <option value="06">Jun</option>
    <option value="07">Jul</option>
    <option value="08">Aug</option>
    <option value="09">Sep</option>
    <option value="10">Oct</option>
    <option value="11">Nov</option>
    <option value="12">Dec</option>
  </select>
  <select class="day">
    <option value="" selected>Day</option>
    <% for (var i = 1; i <= 31; i++) { %>
      <option value="<%= i %>"><%= i %></option>
    <% } %>
  </select>
  <select class="year">
    <option value="" selected>Year</option>
    <% for (var i = 2012; i >= 1900; i--) { %>
      <option value="<%= i %>"><%= i %></option>
    <% } %>
  </select>
</script>
